<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <title>All Reviews</title>
</head>

<body>

  <div class="" th:each="review: ${reviews}">
    <h2>
      <a th:href="@{/singleReview(id=${review.id})}" th:text="${review.name}"></a>
    </h2>
  </div>



  <!-- <h1>All Businesses</h1>
    <h2>Wineries</h2>
    <ul>
        <li>Powell Village Winery</li>
        <li>Wine on High</li>
    </ul>
    <h2>Breweries</h2>
    <ul>
        <li>North High Brewing</li>
        <li>Wolf's Ridge Brewing</li>
    </ul>
    <h2>Distilleries</h2>
    <ul>
        <li>Middle West Spirits</li>
        <li>451 Spirits</li>
    </ul> -->

  <footer>
    <p><a href="/categories">Back to Main Menu</a></p>
    <small>&copy FlexCode Drinks 2019</small>
  </footer>
</body>

</html>
