<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <title>Categories</title>
</head>

<body>
  <header>
    <h2>Click each link below to see reviews belonging to each review category! 🙂</h2>
  </header>
  <main>
    <div th:each="category: ${categories}">
      <h2 class="list">
        <a th:href="@{/category(id=${category.id})}" th:text="${category.name}"></a>
      </h2>
    </div>
  </main>


  <ul class="tagsList">List of Tags
    <li>Each tag</li>
  </ul>

  <footer>Our footer </footer>
</body>

</html>
